In [1]:
#Logistic Regression Clssifiers to predict the survival on Titanic
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
#reading the data from local memory
df = pd.read_csv('train.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
#creating a new dataframe and put only 3 variables
X=pd.DataFrame()
X['sex']=df['Sex']
X['age']=df['Age']
X['survived']=df['Survived']

In [17]:
#dropping missing values
X= X.dropna(axis=0)

In [18]:
#survived will be the dependent variable, y. assign it to y and remove from X.
y= X['survived']
X=X.drop(['survived'],axis=1)

In [19]:
# handle column 'Sex' such that it's categorical, for logistic regre.
#currently it is  a string

#Use pandas get_dummies to implement one hot encoding
pd.get_dummies(X.sex)

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
6         0     1
7         0     1
8         1     0
9         1     0
10        1     0
11        1     0
12        0     1
13        0     1
14        1     0
15        1     0
16        0     1
18        1     0
20        0     1
21        0     1
22        1     0
23        0     1
24        1     0
25        1     0
27        0     1
30        0     1
33        0     1
34        0     1
35        0     1
37        0     1
38        1     0
..      ...   ...
856       1     0
857       0     1
858       1     0
860       0     1
861       0     1
862       1     0
864       0     1
865       1     0
866       1     0
867       0     1
869       0     1
870       0     1
871       1     0
872       0     1
873       0     1
874       1     0
875       1     0
876       0     1
877       0     1
879       1     0
880       1     0
881       0     1
882       1     0
883       0     1
884       0     1
885       1     0
886       0     1
887       1     0
889       0     1
890       0     1

[714 rows x 2 columns]

In [20]:
#get_dummies returns an indicator varibale fro each category
#Sex becomes female=1 , male =0 
X['sex'] = pd.get_dummies(X.sex)['female']

In [21]:
#now to scale our feature with linear reres.
from sklearn.cross_validation import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x = scaler.fit_transform(X)

In [22]:
#build training and test sets
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2, random_state=42)

In [23]:
#this function looks for females in the test set and returns 1,survives otherwise 0
def base_rate_model(X):
    y=np.zeros(X.shape[0])
    return y

In [25]:
#how accurate is my base rate model
y_base_rate = base_rate_model(X_test)
from sklearn.metrics import accuracy_score
print("Base rate accruracy %2.2f"%accuracy_score(y_test,y_base_rate))

Base rate accruracy 0.61

In [28]:
#not the best metrics,so lets train it
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(penalty='l2', C=1)

In [29]:
model.fit(X_train,y_train)

LogisticRegression(C=1, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:
print("Logistic accruracy %2.2f"%accuracy_score(y_test,model.predict(X_test)))

Logistic accruracy 0.73

In [31]:
from sklearn.metrics import roc_auc_score
from sklearn.metrics import classification_report

In [33]:
print("-------Base Model-----")

#base rate AUC
base_roc_auc = roc_auc_score(y_test,base_rate_model(X_test))
print("Base rate roc_auc_score= %2.2f"%base_roc_auc)
print(classification_report(y_test,base_rate_model(X_test)))

print("-----Logistic Model--------")
#logistic AUC
logic_roc_auc = roc_auc_score(y_test,model.predict(X_test))
print("Logistic AuC =%2.2f" %logic_roc_auc)
print(classification_report(y_test,model.predict(X_test)))

-------Base Model-----
Base rate roc_auc_score= 0.50
             precision    recall  f1-score   support

          0       0.61      1.00      0.76        87
          1       0.00      0.00      0.00        56

avg / total       0.37      0.61      0.46       143

-----Logistic Model--------
Logistic AuC =0.72
             precision    recall  f1-score   support

          0       0.78      0.79      0.78        87
          1       0.67      0.64      0.65        56

avg / total       0.73      0.73      0.73       143

C:\Users\SIDDHARTH\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1074: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)